
body{
	background-color: #000!important;
	height: 100%;
	padding-top: 30px;
    padding-bottom: 0px;
    background: url('https://images.unsplash.com/photo-1528082992860-d520150d6f6c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=83ae28f06bf86dd0f6c9062858d2776a&auto=format&fit=crop&w=1234&q=80') no-repeat center center fixed;
    -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	  background-size: cover;
}

body:before {
    content: '';
    width: 100%;
    height: 100%;
	position: fixed;
	z-index: -1;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to right,#000,#000,#000)!important;
	opacity: .6; 
  }

.text-center{
    font-family: 'Anton', sans-serif;
    color: white;
    font-size: 100px;
    padding-bottom: 30px;

}

.container2{
	align-content: center !important;
	padding-left: 180px !important;
}

button{
	margin: 4px !important;
	padding: 1px !important;
	align-items: center !important;
}

.custom {
    width: 60px !important;
}

.card {
	overflow: visible;
}

.card-body{
	align-items: center !important;
}